<div class="room-card">
    <div class="image-wrapper">
        <img [src]="currentRoom.ImageUrl ? currentRoom.ImageUrl : 'images/default-room.png'" alt="Hotel room" />
    </div>

    <div class="info">
        <h3 class="title">{{currentRoom.Name}}</h3>
        <div class="price">{{currentRoom.Price}} VNĐ/đêm</div>
        <div class="tags">
            Phù hợp: <span>{{currentRoom.Tags}}</span>
        </div>
        <p class="desc">
            {{currentRoom.Description}}
        </p>

        <button class="choose-btn btn btn-primary btn-rounded" [routerLink]="['/room', currentRoom.Id]">Chọn phòng</button>
    </div>
</div>