@use "../../../../assets/scss-core/variables" as *;

.room-card {
  display: flex;
  background: $white;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  padding: 16px;
  gap: 20px;

  .image-wrapper {
    flex-shrink: 0;
    width: 220px;
    height: 160px;
    border-radius: 12px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-size: 16px;
      font-weight: 600;
      color: $primary;
      margin: 0 0 8px;
    }

    .price {
      font-size: 20px;
      font-weight: bold;
      color: $secondary;
      margin-bottom: 6px;
    }

    .tags {
      font-size: 13px;
      color: $primary;

      span {
        color: $success;
      }
    }

    .desc {
      font-size: 13px;
      color: $gray;
      margin: 12px 0;
      line-height: 1.5;
      max-height: 3.6em;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .choose-btn {
      align-self: flex-start;
      padding: 8px 16px;
    //   background-color: $primary;
    //   color: $white;
    //   border: none;
    //   border-radius: 20px;
    //   cursor: pointer;
    //   font-size: 14px;
      transition: background 0.2s;

    //   &:hover {
    //     background-color: darken($primary, 10%);
    //   }
    }
  }
}