<div>
    <div class="hero-section">
        <div class="overlay">
            <div class="hero-content">
                <h2>WELCOME</h2>
                <h1>JVILLAGE HOUSE</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incididunt ut labore et
                    dolore magna aliqua.</p>
                <button class="btn btn-primary btn-rounded">Khám phá</button>
            </div>

            <div class="stats">
                <div class="stat-box">
                    <div class="number">200+</div>
                    <div class="label">Đoàn khách</div>
                </div>
                <div class="stat-box">
                    <div class="number">10,000+</div>
                    <div class="label">Khách hàng</div>
                </div>
                <div class="stat-box">
                    <div class="number">200+</div>
                    <div class="label">Sự kiện</div>
                </div>
            </div>
        </div>
    </div>
    <div class="body-section">
        <div class="room-section">
            <div class="heading heading-center">Khám phá điều mới lạ tại J Village</div>
            <div class="flex space-between justify-between">
                <div *ngFor="let room of roomList | slice:0:3">
                    <room-card [currentRoom]="room">
                    </room-card>
                </div>
            </div>
        </div>
        <div class="room-level-section">
            <div class="heading">Hạng phòng</div>

            <div class="room-content">
                <!-- Bộ lọc -->
                <div class="room-filters">
                    <button class="filter active">Tất cả các phòng</button>
                    <button class="filter">Hạng A</button>
                    <button class="filter">Hạng B</button>
                    <button class="filter">Hạng Thường</button>
                </div>

                <div class="w-full">
                    <!-- Danh sách phòng -->
                    <div class="room-list">
                        <div class="room-card"
                            *ngFor="let room of roomList | paginate: { itemsPerPage: 5, currentPage: page, id: 'room-pagination'}">
                            <div class="image" [style.backgroundImage]="'url(' + room.ImageUrl + ')'">
                                <div class="info">
                                    <div class="name">{{ room.Name }}</div>
                                    <span class="link" href="#">Khám phá <span>↗</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-center">
                        <!-- <pagination-controls (pageChange)="page = $event" paginationTemplate="customTpl">
                        </pagination-controls> -->

                        <pagination-template #p="paginationApi" id="room-pagination" (pageChange)="page = $event"
                            (pageBoundsCorrection)="page = $event" class="custom-pagination">

                            <!-- Previous arrow -->
                            <div class="arrow" [class.disabled]="p.isFirstPage()">
                                <a *ngIf="!p.isFirstPage()" (click)="p.previous()">←</a>
                            </div>

                            <!-- Page numbers -->
                            <div class="page-item" *ngFor="let pageItem of p.pages"
                                [class.current]="p.getCurrent() === pageItem.value"
                                [class.ellipsis]="pageItem.label === '...'">

                                <!-- normal page -->
                                <a *ngIf="p.getCurrent() !== pageItem.value && pageItem.label !== '...'"
                                    (click)="p.setCurrent(pageItem.value)">
                                    {{ pageItem.label }}
                                </a>

                                <!-- current page -->
                                <span *ngIf="p.getCurrent() === pageItem.value && pageItem.label !== '...'">
                                    {{ pageItem.label }}
                                </span>

                                <!-- ellipsis -->
                                <span *ngIf="pageItem.label === '...'">…</span>
                            </div>

                            <!-- Next arrow -->
                            <div class="arrow" [class.disabled]="p.isLastPage()">
                                <a *ngIf="!p.isLastPage()" (click)="p.next()">→</a>
                            </div>
                        </pagination-template>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <app-member-section></app-member-section>
</div>