<div>
    <div class="hero-section">
        <div class="overlay">
            <div class="hero-content">
                <h2>WELCOME</h2>
                <h1>JVILLAGE HOUSE</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incididunt ut labore et
                    dolore magna aliqua.</p>
                <button class="cta-button">Khám phá</button>
            </div>

            <div class="stats">
                <div class="stat-box">
                    <div class="number">200+</div>
                    <div class="label">Đoàn khách</div>
                </div>
                <div class="stat-box">
                    <div class="number">10,000+</div>
                    <div class="label">Khách hàng</div>
                </div>
                <div class="stat-box">
                    <div class="number">200+</div>
                    <div class="label">Sự kiện</div>
                </div>
            </div>
        </div>
    </div>
</div>