<div class="member-section">
    <div class="overlay">
        <div class="content">
            <div class="text">
                <p class="subtitle">{{ subtitle }}</p>
                <p class="title">{{ title }}</p>
                <p class="description">{{ description }}</p>

                <div class="flex gap-2" *ngIf="showButtons">
                    <button class="btn btn-secondary btn-rounded" routerLink="/order">
                        {{ secondaryButtonText }}
                    </button>
                    <button class="btn btn-primary btn-rounded" routerLink="/member">
                        {{ primaryButtonText }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div> 