@use "variables" as *;

footer {
  a i {
    font-size: 1.5rem; // text-sm
  }

  a {
    transition: all 0.3s ease;
    text-decoration: none;

    &:hover {
      background-color: lighten($gray, 45%);
    }
  }

}