@use "../../../../assets/scss-core/variables" as *;

footer {
  a i {
    font-size: 0.75rem; // text-sm
  }

  a {
    transition: all 0.3s ease;

    &:hover {
      background-color: lighten($gray, 45%);
    }
  }

}