// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use "assets/scss-core/variables" as *;
// Tailwind CSS still requires @import - this is expected and not deprecated for Tailwind
@import "tailwindcss";

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

html,
body {
    font-family: 'Montserrat', sans-serif;
}

* {
    font-family: inherit;
}


.body-section {
    margin-left: 4rem;
    margin-right: 4rem;
}

.btn {
    color: white;
    border: none;
    padding: 0.8rem 2rem;
    // border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-primary {
    background-color: $primary;


    &:hover {
        background-color: #2d4c3c;
    }
}

.btn-secondary {
    background-color: white;
    color: $primary;

    &:hover {
        background-color: rgb(238, 236, 236);
    }
}

.btn-rounded {
    border-radius: 15rem;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }




.custom-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  font-size: 16px;

  .arrow a {
    font-weight: bold;
    font-size: 20px;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .arrow.disabled a {
    opacity: 0.3;
    pointer-events: none;
  }

  .page-item {
    display: flex;
    align-items: center;

    a, span {
      padding: 8px 12px;
      border-radius: 10px;
      border: 2px solid transparent;
      cursor: pointer;
      white-space: nowrap;
    }

    a:hover {
      border-color: orange;
    }

    &.current span {
      border: 2px solid orange;
      color: orange;
      font-weight: bold;
    }

    &.ellipsis {
      pointer-events: none;
      cursor: default;
      padding: 0 6px;
    }
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
